
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@500&family=Roboto+Slab:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: fixed;
}
html{
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    background-image: url("Hex_background.jpg");
    background-size: auto; 
    background-position: fit; 
    background-repeat: repeat; 
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}
a, a:hover{
    text-decoration: none;
}
.logo img{
    width: 40px;
    margin-right: 30px;
    margin-left: 10px;
    border-radius: 20px;
}

nav {
    width: 100%;
    padding: 5px 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #54cedc;
    position: sticky;
    backdrop-filter: blur(100px);
    border-bottom: 3px solid #54cedc;z-index: 99;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 5);
}

nav a {
    color: #54cedc;
}

nav a:hover{
    color: aliceblue;
}

.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.logo a:hover{
    color: aliceblue;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 20px;
    font-size: 1.2rem;
}
.toggle {
    font-size: 2rem;
    display: none;
}

@media screen and (max-width: 600px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top: 21px;
        right: 20px;
    }
}

footer{
    background-color: #25193e;
    padding: 70px 0;
    position: sticky;
    border-top: 3px solid #54cedc;z-index: 99;
    top: 100vh;
    bottom: 0;
    margin-top: auto;
}
.footer-col{
    width: 25%;
    padding: 0 55px;
}
.footer-col h4{
    font-size: 1.5rem;
    color: #54cedc;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 800;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aliceblue;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #54cedc;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: aliceblue;
    padding-left: 5px;
}
.footer-container{
    max-width:  1170px;
    margin: auto;
}
.footer-list{
    list-style: none;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col .footer-social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0,5s ease;
}
.footer-col .footer-social-links a:hover{
    color: grey;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
footer {
    clear: both;
  }
footer-line{
    clear: both;
}